<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="geometry" content="interval">
    <link rel="stylesheet" href="/demos/assets/common.css">
    <title>{{title}}</title>
</head>
<body>
    <div id="canvas"></div>
    <script src="/demos/assets/jquery-3.2.1.min.js"></script>
    <script src="/demos/assets/moment.min.js"></script>
    <script src="/g2plot.js"></script>
    <script>
{{content}}
    </script>
</body>
</html>
