div[class^='PlayGround-module--exampleContainerWrapper'] {
  overflow: hidden;

  #container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .teaser-img img {
    margin-left: 0!important;
    margin-top: 60px!important;
  }
}

@media (max-width: 900px) {
  .teaser-img img {
    margin-left: 0!important;
    margin-top: 0!important;
  }
}
