name: size-label
on: pull_request
jobs:
  size-label:
    runs-on: ubuntu-latest
    steps:
      - name: size-label
        uses: 'pascalgn/size-label-action@d909487e1a0057d85c638f1ddefdb315a63d2e98'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
